html, body {
    margin: 0;
    padding: 0;
    background: #B7ADCF;
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@import './mixin.scss';
@import "./navBar.scss";
@import "./home.scss";
@import './add-book.scss';
@import './book.scss';
@import './login.scss';
@import './signup.scss'